.small-sidebar {
  width: 5%;
}
.small-sidebar {
  display: none;
}
.sidebar-parent :hover {
  color: #000;
  background-color: slategrey;
  border-radius: 20px;
  padding: 2px 2px;

  :active {
    color: #000;
  }
  /* border-width: 0.2em; */
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
